/*! style.css © yamoo9.net, 2016 */

/**
 * --------------------------------
 * Body, 본문 디자인
 * ----------------------------- */
body {
	margin: 100px 0;
	font-family: "Jeju Myeongjo", Serif;
	line-height: 1.54;
	color: #414243;
	letter-spacing: -0.03em;
}

/**
 * --------------------------------
 * Page, 페이지 디자인
 * ----------------------------- */
#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#page p {
	margin-top: 0;
	margin-bottom: 20px;
}

/**
 * --------------------------------
 * 이미지 프레임 디자인(설계)
 * ----------------------------- */
.image-frame {
	margin-bottom: 20px;
	border: 1px solid;
	padding: 10px;
	background: #fff;
}

.image-frame-black {
	background: #000;
}

.image-frame-round {
	border-radius: 4px;
}

/**
 * --------------------------------
 * Row, 행 디자인
 * ----------------------------- */
.row {
	margin-bottom: 60px;
}

.row img {
	width: 30%;
	height: auto;
	vertical-align: top;
}

/**
 * --------------------------------
 * Oblique, 기울인 ! 디자인
 * ----------------------------- */
.oblique {
	font-family: "Times New Roman";
 	font-style: italic;
}